@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
html, body {
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Roboto Flex", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --md-ref-typeface-brand: "Roboto Flex", sans-serif;
  --md-ref-typeface-plain: "Roboto Flex", sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 2rem;
}
h3 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
label {
  display: flex;
  flex-direction: column;
}
input[type="text"] {
  min-width: 15rem;
  font-size: 18px;
  padding: .5rem;
  outline: none;
  border: 1px solid grey;
  border-radius: 3px;
}
button {
  padding: .5rem;
  font-size: 18px;
  border: 1px solid grey;
  border-radius: 20px;
}
